## 수정종가 처리

In [1]:
import pandas as pd
import numpy as np
import random
import os
import pickle
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

import pandas_ta as ta
warnings.filterwarnings("ignore")

In [2]:
# Read in price data
path = "./data/train.csv"
train = pd.read_csv(path, parse_dates=True, index_col="일자")
train = train.reset_index()
train.columns = ['date', 'ticker', 'firm', 'volume', 'open', 'high', 'low', 'close']
df = train.sort_values(by=['ticker', 'date'], ascending=True)

df['adjustTrue'] = 1
df.loc[df['volume'] == 0, 'adjustTrue'] = -1
df = df.sort_values(['ticker','date'], ascending=[True,False])
df = df.reset_index(drop=True)
df.tail()

,date,ticker,firm,volume,open,high,low,close,adjustTrue
987995,2021-06-07,A383800,LX홀딩스,2714980,10550,11150,10500,10800,1
987996,2021-06-04,A383800,LX홀딩스,1737593,10450,10650,10350,10450,1
987997,2021-06-03,A383800,LX홀딩스,2709800,10650,10700,10300,10400,1
987998,2021-06-02,A383800,LX홀딩스,2426922,10700,10850,10600,10700,1
987999,2021-06-01,A383800,LX홀딩스,1879288,11000,11300,10900,11000,1

In [3]:
# Convert 'date' to datetime and sort the data by date
data = df
data

,date,ticker,firm,volume,open,high,low,close,adjustTrue
0,2023-05-30,A000020,동화약품,201361,9960,10040,9640,9700,1
1,2023-05-26,A000020,동화약품,196257,10050,10150,9850,9850,1
2,2023-05-25,A000020,동화약품,398326,9660,10180,9660,10040,1
3,2023-05-24,A000020,동화약품,205243,9770,9820,9550,9740,1
4,2023-05-23,A000020,동화약품,641524,9160,9900,9160,9770,1
...,...,...,...,...,...,...,...,...,...
987995,2021-06-07,A383800,LX홀딩스,2714980,10550,11150,10500,10800,1
987996,2021-06-04,A383800,LX홀딩스,1737593,10450,10650,10350,10450,1
987997,2021-06-03,A383800,LX홀딩스,2709800,10650,10700,10300,10400,1
987998,2021-06-02,A383800,LX홀딩스,2426922,10700,10850,10600,10700,1
987999,2021-06-01,A383800,LX홀딩스,1879288,11000,11300,10900,11000,1

In [4]:
result = []
ticker_list = data['ticker'].unique()

for ticker in tqdm(ticker_list, leave=True):
    temp = data[data['ticker'] == ticker]
    temp = temp.reset_index(drop=True)
    # Find the index where trading was suspended
    suspension_indices = temp[temp['adjustTrue'] == -1].index

    if len(suspension_indices) == 0: # 거래정지가 없는 경우 패스
        result.append(temp)
        continue
    else:
        for index in tqdm(suspension_indices, leave=True):
            # Get the split ratio from the close price at the suspension date and the open price at the date following the suspension
            close_price_at_suspension = temp.loc[index, 'close']
            try: # 23-05-30에 거래정지인 경우 + 다른 거래정지도 고려
                open_price_after_suspension = temp.loc[index-1, 'open']  # 미래 데이터
            except: # 23-05-30 하루만 거래정지면 for문 탈출
                continue
            split_ratio = close_price_at_suspension / open_price_after_suspension if open_price_after_suspension != 0 else 1
            # Adjust the volume, open, high, low, and close prices for all previous dates (because the data is in descending order)
            # 거래 정지 이후 값은 액면분할을 반영하여 덮어쓰기
            temp.loc[index+1:, ['open', 'high', 'low', 'close']] /= split_ratio
            temp.loc[index+1:, 'volume'] *= split_ratio
        
        # Sort the data in ascending order of date
        # 다시 과거-현재 순으로 재정렬
        temp = temp.sort_values('date', ascending=True)

        # Interpolate zero values in the data using 'pad' method
        # 아직도 0이 남았다 == 거래 정지일이 끝 날짜에 하루밖에 없었다
        # 과거, 미래 값으로 채우기
        temp.replace(0, pd.NA, inplace=True)
        temp.interpolate(method='ffill', inplace=True)
        temp.interpolate(method='bfill', inplace=True)

        # 액면분할 시 최초 거래정지일 기준 변경되지 않은 기준 close값 변경
        try:
            temp.loc[suspension_indices[0], 'close'] = temp.loc[suspension_indices[0] - 1, 'close']
        except:
            pass

        result.append(temp)

result = pd.concat(result, axis=0)

100%|██████████| 5/5 [00:00<00:00, 833.43it/s]/s]
100%|██████████| 14/14 [00:00<00:00, 1035.63it/s]
100%|██████████| 1/1 [00:00<?, ?it/s], 35.54it/s]
100%|██████████| 17/17 [00:00<00:00, 1029.96it/s]
100%|██████████| 3/3 [00:00<00:00, 664.29it/s]/s]
100%|██████████| 5/5 [00:00<00:00, 807.16it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 500.27it/s]t/s]
100%|██████████| 1/1 [00:00<00:00, 483.33it/s]t/s]
100%|██████████| 15/15 [00:00<00:00, 964.40it/s]s]
100%|██████████| 21/21 [00:00<00:00, 1049.39it/s]]
100%|██████████| 3/3 [00:00<00:00, 664.39it/s]t/s]
100%|██████████| 6/6 [00:00<00:00, 799.02it/s]
100%|██████████| 75/75 [00:00<00:00, 1046.55it/s]]
100%|██████████| 36/36 [00:00<00:00, 1041.95it/s]]
100%|██████████| 474/474 [00:00<00:00, 1079.46it/s]
100%|██████████| 1/1 [00:00<00:00, 499.68it/s]t/s]
100%|██████████| 8/8 [00:00<00:00, 940.66it/s]t/s]
100%|██████████| 13/13 [00:00<00:00, 1039.36it/s]]
100%|██████████| 29/29 [00:00<00:00, 1093.07it/s]]
100%|██████████| 5/5 [00:00<00:00, 833.73it/s]t/s]
100%|██████████| 2/2 [00:00<00:00, 568.91it/s]t/s]
100%|██████████| 21/21 [00:00<00:00, 1023.43it/s]]
100%|██████████| 4/4 [00:00<00:00, 800.52it/s]
100%|██████████| 494/494 [00:00<00:00, 1077.23it/s]
100%|██████████| 15/15 [00:00<00:00, 998.83it/s]s]
100%|██████████| 15/15 [00:00<00:00, 1034.34it/s]]
100%|██████████| 296/296 [00:00<00:00, 1082.85it/s]
100%|██████████| 1/1 [00:00<00:00, 499.38it/s]t/s]
100%|██████████| 360/360 [00:00<00:00, 1072.36it/s]
100%|██████████| 23/23 [00:00<00:00, 1094.48it/s]]
100%|██████████| 20/20 [00:00<00:00, 1110.62it/s]]
100%|██████████| 12/12 [00:00<00:00, 1089.24it/s]]
100%|██████████| 316/316 [00:00<00:00, 1078.11it/s]
100%|██████████| 1/1 [00:00<00:00, 500.57it/s]t/s]
100%|██████████| 215/215 [00:00<00:00, 937.14it/s]
100%|██████████| 257/257 [00:00<00:00, 1075.93it/s]
100%|██████████| 121/121 [00:00<00:00, 1121.92it/s]
100%|██████████| 494/494 [00:00<00:00, 1089.22it/s]
100%|██████████| 37/37 [00:00<00:00, 1026.79it/s]]
100%|██████████| 74/74 [00:00<00:00, 1122.68it/s]]
100%|██████████| 21/21 [00:00<00:00, 1104.51it/s]]
100%|██████████| 1/1 [00:00<00:00, 499.98it/s]t/s]
100%|██████████| 11/11 [00:00<00:00, 1157.17it/s]
100%|██████████| 494/494 [00:00<00:00, 1092.42it/s]
100%|██████████| 3/3 [00:00<00:00, 855.69it/s]t/s]
100%|██████████| 13/13 [00:00<00:00, 1039.30it/s]]
100%|██████████| 24/24 [00:00<00:00, 1064.36it/s]]
100%|██████████| 30/30 [00:00<00:00, 1091.24it/s]]
100%|██████████| 14/14 [00:00<00:00, 976.44it/s]s]
100%|██████████| 33/33 [00:00<00:00, 1014.63it/s]]
100%|██████████| 385/385 [00:00<00:00, 1087.11it/s]
100%|██████████| 13/13 [00:00<00:00, 1082.57it/s]]
100%|██████████| 385/385 [00:00<00:00, 1092.18it/s]
100%|██████████| 1/1 [00:00<00:00, 663.87it/s]t/s]
100%|██████████| 19/19 [00:00<00:00, 1054.67it/s]]
100%|██████████| 12/12 [00:00<00:00, 959.67it/s]s]
100%|██████████| 44/44 [00:00<00:00, 1127.53it/s]]
100%|██████████| 3/3 [00:00<00:00, 749.96it/s]t/s]
100%|██████████| 12/12 [00:00<00:00, 922.45it/s]s]
100%|██████████| 346/346 [00:00<00:00, 1103.26it/s]
100%|██████████| 14/14 [00:00<00:00, 1036.53it/s]
100%|██████████| 297/297 [00:00<00:00, 1089.63it/s]
100%|██████████| 15/15 [00:00<00:00, 1067.71it/s]]
100%|██████████| 36/36 [00:00<00:00, 1107.11it/s]]
100%|██████████| 2/2 [00:00<00:00, 570.27it/s]t/s]
100%|██████████| 494/494 [00:00<00:00, 1093.26it/s]
100%|██████████| 14/14 [00:00<00:00, 1036.62it/s]]
100%|██████████| 223/223 [00:00<00:00, 1076.39it/s]
100%|██████████| 27/27 [00:00<00:00, 1037.80it/s]
100%|██████████| 3/3 [00:00<00:00, 1000.47it/s]
100%|██████████| 22/22 [00:00<00:00, 915.96it/s]s]
100%|██████████| 3/3 [00:00<00:00, 665.69it/s]t/s]
100%|██████████| 50/50 [00:00<00:00, 1051.89it/s]]
100%|██████████| 1/1 [00:00<00:00, 500.16it/s]t/s]
100%|██████████| 27/27 [00:00<00:00, 981.05it/s]s]
100%|██████████| 3/3 [00:00<00:00, 749.88it/s]
100%|██████████| 243/243 [00:00<00:00, 985.10it/s]
100%|██████████| 21/21 [00:00<00:00, 953.88it/s]s]
100%|██████████| 224/224 [00:00<00:00, 1017.51it/s]
100%|██████████| 16/16 [00:00<00:00, 888.49it/s]s]
100%|██████████| 93/93 [00:00<00:00, 1055.54it/s]]
100%|██████████| 4/4 [00:00<00:00, 800.02it/s]t/s]
100%|██████████| 16/16 [00:00<00:00, 1046.74it/s]]
100%|██████████| 3/3 [00:00<00:00, 855.57it/s]t/s]
100%|██████████| 129/129 [00:00<00:00, 1139.64it/s]
100%|██████████| 73/73 [00:00<00:00, 1113.82it/s]]
100%|██████████| 69/69 [00:00<00:00, 1121.51it/s]]
100%|██████████| 20/20 [00:00<00:00, 1088.27it/s]
100%|██████████| 15/15 [00:00<00:00, 1070.52it/s]]
100%|██████████| 117/117 [00:00<00:00, 1077.04it/s]
100%|██████████| 453/453 [00:00<00:00, 982.14it/s]
100%|██████████| 295/295 [00:00<00:00, 1007.30it/s]
100%|██████████| 16/16 [00:00<00:00, 968.33it/s]s]
100%|██████████| 12/12 [00:00<00:00, 888.56it/s]s]
100%|██████████| 50/50 [00:00<00:00, 1050.79it/s]]
100%|██████████| 17/17 [00:00<00:00, 999.29it/s]s]
100%|██████████| 297/297 [00:00<00:00, 1010.55it/s]
100%|██████████| 494/494 [00:00<00:00, 1009.33it/s]
100%|██████████| 1/1 [00:00<00:00, 499.86it/s]
100%|██████████| 59/59 [00:00<00:00, 1062.36it/s]s]
100%|██████████| 110/110 [00:00<00:00, 934.50it/s]]
100%|██████████| 494/494 [00:00<00:00, 959.17it/s]]
100%|██████████| 76/76 [00:00<00:00, 1024.34it/s]s]
100%|██████████| 1/1 [00:00<00:00, 499.98it/s]it/s]
100%|██████████| 17/17 [00:00<00:00, 943.86it/s]/s]
100%|██████████| 53/53 [00:00<00:00, 954.07it/s]/s]
100%|██████████| 494/494 [00:00<00:00, 919.97it/s]]
100%|██████████| 28/28 [00:00<00:00, 1017.50it/s]s]
100%|██████████| 356/356 [00:00<00:00, 985.22it/s]]
100%|██████████| 15/15 [00:00<00:00, 936.76it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 873.01it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 936.55it/s]/s]
100%|██████████| 10/10 [00:00<00:00, 868.87it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 967.28it/s]/s]
100%|██████████| 35/35 [00:00<00:00, 922.04it/s]/s]
100%|██████████| 27/27 [00:00<00:00, 1067.24it/s]s]
100%|██████████| 11/11 [00:00<00:00, 1157.17it/s]s]
100%|██████████| 2/2 [00:00<00:00, 650.83it/s]it/s]
100%|██████████| 300/300 [00:00<00:00, 1016.19it/s]
100%|██████████| 145/145 [00:00<00:00, 1023.83it/s]
100%|██████████| 494/494 [00:00<00:00, 878.18it/s]]
100%|██████████| 39/39 [00:00<00:00, 1025.64it/s]s]
100%|██████████| 15/15 [00:00<00:00, 936.76it/s]/s]
100%|██████████| 2/2 [00:00<00:00, 666.61it/s]it/s]
100%|██████████| 4/4 [00:00<00:00, 726.79it/s]
100%|██████████| 451/451 [00:00<00:00, 1005.27it/s]
100%|██████████| 494/494 [00:00<00:00, 1041.11it/s]
100%|██████████| 14/14 [00:00<00:00, 902.87it/s]/s]
100%|██████████| 243/243 [00:00<00:00, 960.49it/s]
100%|██████████| 28/28 [00:00<00:00, 948.52it/s]
100%|██████████| 334/334 [00:00<00:00, 968.91it/s]]
100%|██████████| 15/15 [00:00<00:00, 907.58it/s]/s]
100%|██████████| 39/39 [00:00<00:00, 1031.59it/s]s]
100%|██████████| 1/1 [00:00<00:00, 1000.07it/s]t/s]
100%|██████████| 14/14 [00:00<00:00, 1036.43it/s]s]
100%|██████████| 2/2 [00:00<00:00, 666.71it/s]it/s]
100%|██████████| 14/14 [00:00<00:00, 902.08it/s]/s]
100%|██████████| 18/18 [00:00<00:00, 1058.07it/s]s]
100%|██████████| 295/295 [00:00<00:00, 957.28it/s]]
100%|██████████| 15/15 [00:00<00:00, 881.71it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 305.20it/s]it/s]
100%|██████████| 317/317 [00:00<00:00, 1018.59it/s]
100%|██████████| 209/209 [00:00<00:00, 949.73it/s]]
100%|██████████| 494/494 [00:00<00:00, 1003.45it/s]
100%|██████████| 68/68 [00:00<00:00, 1053.58it/s]s]
100%|██████████| 17/17 [00:00<00:00, 999.19it/s]/s]
100%|██████████| 494/494 [00:00<00:00, 962.92it/s]]
100%|██████████| 451/451 [00:00<00:00, 978.70it/s]]
100%|██████████| 295/295 [00:00<00:00, 975.83it/s]
100%|██████████| 14/14 [00:00<00:00, 1036.53it/s]s]
100%|██████████| 3/3 [00:00<00:00, 664.25it/s]it/s]
100%|██████████| 3/3 [00:00<00:00, 666.01it/s]it/s]
100%|██████████| 16/16 [00:00<00:00, 913.36it/s]
100%|██████████| 4/4 [00:00<00:00, 792.76it/s]it/s]
100%|██████████| 18/18 [00:00<00:00, 856.61it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 499.98it/s]it/s]
100%|██████████| 2/2 [00:00<00:00, 666.71it/s]it/s]
100%|██████████| 19/19 [00:00<00:00, 999.42it/s]/s]
100%|██████████| 67/67 [00:00<00:00, 1012.34it/s]s]
100%|██████████| 323/323 [00:00<00:00, 1016.78it/s]
100%|██████████| 337/337 [00:00<00:00, 999.28it/s]
100%|██████████| 16/16 [00:00<00:00, 852.13it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 1033.95it/s]s]
100%|██████████| 494/494 [00:00<00:00, 1030.14it/s]
100%|██████████| 294/294 [00:00<00:00, 1059.70it/s]
100%|██████████| 1/1 [00:00<00:00, 399.57it/s]it/s]
100%|██████████| 2/2 [00:00<00:00, 499.89it/s]it/s]
100%|██████████| 34/34 [00:00<00:00, 900.65it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 398.96it/s]it/s]
100%|██████████| 494/494 [00:00<00:00, 1008.82it/s]
100%|██████████| 10/10 [00:00<00:00, 1051.92it/s]
100%|██████████| 9/9 [00:00<00:00, 817.60it/s]it/s]
100%|██████████| 494/494 [00:00<00:00, 1019.22it/s]
100%|██████████| 335/335 [00:00<00:00, 1034.08it/s]
100%|██████████| 33/33 [00:00<00:00, 999.27it/s]/s]
100%|██████████| 45/45 [00:00<00:00, 972.56it/s]/s]
100%|██████████| 295/295 [00:00<00:00, 1016.20it/s]
100%|██████████| 1/1 [00:00<00:00, 663.97it/s]it/s]
100%|██████████| 12/12 [00:00<00:00, 888.45it/s]/s]
100%|██████████| 21/21 [00:00<00:00, 856.39it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 499.98it/s]it/s]
100%|██████████| 13/13 [00:00<00:00, 895.98it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 665.13it/s]it/s]
100%|██████████| 46/46 [00:00<00:00, 1081.32it/s]s]
100%|██████████| 3/3 [00:00<00:00, 665.90it/s]it/s]
100%|██████████| 1/1 [00:00<00:00, 499.92it/s]it/s]
100%|██████████| 48/48 [00:00<00:00, 979.15it/s]/s]
100%|██████████| 290/290 [00:00<00:00, 986.00it/s]]
100%|██████████| 30/30 [00:00<00:00, 982.86it/s]/s]
100%|██████████| 50/50 [00:00<00:00, 960.86it/s]/s]
100%|██████████| 64/64 [00:00<00:00, 978.47it/s]/s]
100%|██████████| 86/86 [00:00<00:00, 976.59it/s]
100%|██████████| 42/42 [00:00<00:00, 945.68it/s]/s]
100%|██████████| 114/114 [00:00<00:00, 1054.75it/s]
100%|██████████| 48/48 [00:00<00:00, 890.67it/s]/s]
100%|██████████| 48/48 [00:00<00:00, 847.10it/s]/s]
100%|██████████| 77/77 [00:00<00:00, 1012.52it/s]s]
100%|██████████| 65/65 [00:00<00:00, 962.08it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 333.25it/s]it/s]
100%|██████████| 101/101 [00:00<00:00, 938.98it/s]
100%|██████████| 69/69 [00:00<00:00, 1052.74it/s]s]
100%|██████████| 57/57 [00:00<00:00, 965.03it/s]
100%|██████████| 59/59 [00:00<00:00, 1112.34it/s]s]
100%|██████████| 51/51 [00:00<00:00, 1029.18it/s]
100%|██████████| 3/3 [00:00<00:00, 750.05it/s]it/s]
100%|██████████| 2000/2000 [01:17<00:00, 25.92it/s]

In [5]:
stock = result.round(2).copy()
st_price = stock.groupby('firm')['close'].agg('mean').sort_values(ascending=False)
print('변환전\n', st_price[:5])

변환전
 firm
LG생활건강      927289.473684
태광산업        919595.141700
삼성바이오로직스    837560.728745
LG화학        671966.599190
삼성SDI       656896.761134
Name: close, dtype: float64

In [6]:
for i, a in enumerate(list(st_price.index)):
    stock.loc[stock['firm'] == a, 'firm'] = i
st_price = result.groupby('firm')['close'].agg('mean').sort_values(ascending=False)
print('변환후\n', st_price[:5])

변환후
 firm
LG생활건강      927289.473684
태광산업        919595.141700
삼성바이오로직스    837560.728745
LG화학        671966.599190
삼성SDI       656896.761134
Name: close, dtype: float64

In [7]:
stock['firm'] = stock['firm'].astype('category').cat.codes

# 데이터 재배열
stock1 = stock[['date', 'ticker', 'firm', 'volume','open','high','low', 'adjustTrue', 'close']]
stock1 = stock1.sort_values(['ticker', 'date'])
stock1.head()

,date,ticker,firm,volume,open,high,low,adjustTrue,close
493,2021-06-01,A000020,822,114966.0,14700.0,14700.0,14450.0,1,14600.0
492,2021-06-02,A000020,822,109559.0,14700.0,14700.0,14450.0,1,14500.0
491,2021-06-03,A000020,822,96158.0,14550.0,14650.0,14450.0,1,14600.0
490,2021-06-04,A000020,822,133900.0,14600.0,14800.0,14550.0,1,14700.0
489,2021-06-07,A000020,822,511140.0,14800.0,15550.0,14750.0,1,15150.0

---

## 기술적 분석

In [9]:
def calculate_technical_indicators(df: pd.DataFrame) -> pd.DataFrame:
    # Moving Averages
    df.ta.sma(close='Close', length=10, append=True)
    df.ta.sma(close='Close', length=20, append=True)
    df.ta.sma(close='Close', length=50, append=True)
    df.ta.sma(close='Close', length=100, append=True)
    df.ta.sma(close='Close', length=200, append=True)

    df.ta.ema(close='Close', length=10, append=True)
    df.ta.ema(close='Close', length=20, append=True)
    df.ta.ema(close='Close', length=50, append=True)
    df.ta.ema(close='Close', length=100, append=True)
    df.ta.ema(close='Close', length=200, append=True)

    # Momentum Indicators
    df.ta.rsi(close='Close', length=14, append=True)
    df.ta.macd(close='Close', fast=12, slow=26, signal=9, append=True)
    df.ta.stoch(close='Close', append=True)
    df.ta.roc(close='Close', append=True)
    # MACD는 단기 EMA (12일)가 장기 EMA (26일)에 비해 얼마나 빠르게 움직이는지를 보여줍니다.

    # Volume Indicators
    df.ta.vp(close='Close', volume='Volume', append=True)
    df.ta.obv(close='Close', volume='Volume', append=True)

    # Volatility Indicators
    df.ta.atr(close='Close', append=True)
    df.ta.bbands(close='Close', append=True)

    # Trend Strength Indicators
    df.ta.adx(close='Close', append=True)

    df.ta.efi(length=13, append=True) # Elder's Force Index (EFI): 알렉산더 엘더가 개발한 이 지표는 가격의 변동성과 거래량을 결합하여 주식의 '힘'을 측정합니다.
    df.ta.kama(length=10, append=True) # Kaufman's Adaptive Moving Average (KAMA): 이 지표는 변동성을 고려하여 보다 유연한 이동 평균을 제공합니다.
    df.ta.mfi(high='High', low='Low', close='Close', volume='Volume', length=14, append=True) # Money Flow Index (MFI): 이 지표는 가격과 거래량을 결합하여 주식이 과매수 또는 과매도 상태인지 판단합니다.
    df.ta.vortex(high='High', low='Low', close='Close', length=14, append=True) # Vortex Indicator (VI): 이 지표는 최근 가격의 상승과 하락을 추적하여 상승 추세와 하락 추세를 식별합니다.

    return df

In [10]:
train = pd.read_csv("./data/train_adj.csv")
train = train.drop('Unnamed: 0', axis=1)
train = train.sort_values(['ticker', 'date'], ascending=True)
train.set_index('date', inplace=True)
train

,ticker,firm,volume,open,high,low,adjustTrue,close
date,,,,,,,,
2021-06-01,A000020,822,114966.0,14700.0,14700.0,14450.0,1,14600.0
2021-06-02,A000020,822,109559.0,14700.0,14700.0,14450.0,1,14500.0
2021-06-03,A000020,822,96158.0,14550.0,14650.0,14450.0,1,14600.0
2021-06-04,A000020,822,133900.0,14600.0,14800.0,14550.0,1,14700.0
2021-06-07,A000020,822,511140.0,14800.0,15550.0,14750.0,1,15150.0
...,...,...,...,...,...,...,...,...
2023-05-23,A383800,976,150364.0,8390.0,8390.0,8310.0,1,8330.0
2023-05-24,A383800,976,122457.0,8310.0,8340.0,8280.0,1,8300.0
2023-05-25,A383800,976,84241.0,8300.0,8310.0,8270.0,1,8310.0
2023-05-26,A383800,976,126681.0,8300.0,8310.0,8270.0,1,8280.0
2023-05-30,A383800,976,70489.0,8300.0,8300.0,8270.0,1,8290.0

In [11]:
ticker_list = train['ticker'].unique()
data_frames = []  # store DataFrames here

for ticker in tqdm(ticker_list):
    temp = calculate_technical_indicators(train[train['ticker'] == ticker])
    data_frames.append(temp)

# concat all at once
data = pd.concat(data_frames, axis=0)
data.head()

100%|██████████| 2000/2000 [01:42<00:00, 19.47it/s]

,ticker,firm,volume,open,high,low,adjustTrue,close,SMA_10,SMA_20,...,BBB_5_2.0,BBP_5_2.0,ADX_14,DMP_14,DMN_14,EFI_13,KAMA_10_2_30,MFI_14,VTXP_14,VTXM_14
date,,,,,,,,,,,,,,,,,,,,,
2021-06-01,A000020,822,114966.0,14700.0,14700.0,14450.0,1,14600.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-02,A000020,822,109559.0,14700.0,14700.0,14450.0,1,14500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-03,A000020,822,96158.0,14550.0,14650.0,14450.0,1,14600.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-04,A000020,822,133900.0,14600.0,14800.0,14550.0,1,14700.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-06-07,A000020,822,511140.0,14800.0,15550.0,14750.0,1,15150.0,NaN,NaN,...,6.224622,0.980537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data_ta = data.dropna(axis=1, how='all')
data_ta = data_ta.dropna(axis=0)
ticker_list = data_ta['ticker'].unique()
print("ticker_list 길이 : ",  len(ticker_list))

ticker_list 길이 :  1985

In [14]:
data_ta.to_pickle("./data/train_adj_tactical.pkl")

---

## Train / Test 분리

In [3]:
import pandas as pd
import numpy as np
import random
import os
import pickle
from tqdm import tqdm

import pandas_ta as ta

import warnings
warnings.filterwarnings("ignore")

In [4]:
data_ta = pd.read_pickle("./data/train_adj_tactical.pkl")
data_ta = data_ta.reset_index()

In [5]:
data_ta = data_ta.sort_values(['ticker', 'date'])
data_ta2 = data_ta.copy()
data_ta2['target'] = data_ta.groupby('firm')['close'].shift(-15)

In [15]:
train = data_ta2[~data_ta2['target'].isna()]
test = data_ta2[data_ta2['target'].isna()]

In [16]:
train['pct_change'] = ((train['target'] - train['close']) / train['close'] * 100).round(5)

def up_or_down(df):
    conditions = [
        (df['pct_change'] > 4), 
        (df['pct_change'] > 0),
        (df['pct_change'] < 0)
    ]
    choices = [2, 1, 0]
    df['class_target'] = np.select(conditions, choices, default=0)

    return df

train = up_or_down(train)
train.head()

,date,ticker,firm,volume,open,high,low,adjustTrue,close,SMA_10,...,DMP_14,DMN_14,EFI_13,KAMA_10_2_30,MFI_14,VTXP_14,VTXM_14,target,pct_change,class_target
0,2022-03-23,A000020,822,396150.0,13800.0,14100.0,13600.0,1,13650.0,13335.0,...,30.358104,13.516124,2.075979e+08,13031.963084,74.680545,1.109091,0.842424,12950.0,-5.12821,0
1,2022-03-24,A000020,822,164839.0,13600.0,13700.0,13500.0,1,13600.0,13405.0,...,29.627900,14.393671,1.767636e+08,13056.980792,72.143290,1.086957,0.913043,13200.0,-2.94118,0
2,2022-03-25,A000020,822,248995.0,13700.0,13950.0,13500.0,1,13900.0,13510.0,...,31.055802,13.600975,1.621829e+08,13116.285955,73.136564,1.078788,0.872727,13250.0,-4.67626,0
3,2022-03-28,A000020,822,160036.0,13900.0,13900.0,13600.0,1,13750.0,13630.0,...,29.874583,13.083657,1.355845e+08,13175.382776,70.754830,1.092593,0.901235,13200.0,-4.00000,0
4,2022-03-29,A000020,822,160334.0,13850.0,14000.0,13650.0,1,13750.0,13720.0,...,29.815148,12.486931,1.162153e+08,13215.806253,72.694644,1.118750,0.868750,13200.0,-4.00000,0

In [17]:
train.to_pickle("./data/train_완료.pkl")
test.to_pickle("./data/prediction_완료.pkl")