## Import

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.optimizers import Adam

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

## Data Load

In [22]:
# Read in price data
train = pd.read_csv("./train.csv", parse_dates=True, index_col="일자")
train = train.reset_index()
train.columns = ['date', 'ticker', 'firm', 'volume', 'open', 'high', 'low', 'close']
train.set_index('date', inplace=True)
train

             ticker    firm   volume   open   high    low  close
date
2021-06-01  A060310      3S   166690   2890   2970   2885   2920
2021-06-01  A095570  AJ네트웍스    63836   5860   5940   5750   5780
2021-06-01  A006840   AK홀딩스   103691  35500  35600  34150  34400
2021-06-01  A054620     APS   462544  14600  14950  13800  14950
2021-06-01  A265520   AP시스템   131987  29150  29150  28800  29050
...             ...     ...      ...    ...    ...    ...    ...
2023-05-30  A189980  흥국에프엔비   272284   3005   3035   2955   2980
2023-05-30  A000540    흥국화재    50218   3250   3255   3195   3215
2023-05-30  A003280    흥아해운   130664   1344   1395   1340   1370
2023-05-30  A037440      희림   141932   9170   9260   9170   9200
2023-05-30  A238490      힘스  2611843   6410   8220   6300   8220

[988000 rows x 7 columns]

In [43]:
# Assuming your DataFrame is called 'df'
pivot_df = pd.pivot_table(df, values='close', index='date', columns='ticker')

# Rename the columns based on the ticker names
pivot_df.columns = pivot_df.columns.astype(str)

# Display the resulting DataFrame
pivot_df.head()
print(pivot_df.shape)

(494, 2000)

## Model Define, Train and Inference

In [47]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

# For this example, let's say we are only interested in close prices
prices = pivot_df

# Calculate expected returns and sample covariance
mu = expected_returns.mean_historical_return(prices)
S = risk_models.CovarianceShrinkage(prices).ledoit_wolf()

# Optimise for maximal Sharpe ratio
ef = EfficientFrontier(mu, S, weight_bounds=(-1, 1))
raw_weights = ef.max_sharpe()

# Get the cleaned weights for the portfolio
cleaned_weights = ef.clean_weights()

In [49]:
# Sort the weights
sorted_weights = {k: v for k, v in sorted(cleaned_weights.items(), key=lambda item: item[1], reverse=True)}

# Get the top 200 to go long
long_stocks = {k: sorted_weights[k] for k in list(sorted_weights.keys())[:200]}

# Get the bottom 200 to go short
short_stocks = {k: sorted_weights[k] for k in list(sorted_weights.keys())[-200:]}

print("Long these stocks: ", long_stocks)
print("Short these stocks: ", short_stocks)

Long these stocks:  {'A101670': 1.0, 'A086520': 0.69296, 'A073570': 0.65318, 'A001570': 0.60918, 'A114190': 0.56709, 'A002710': 0.49498, 'A005070': 0.4774, 'A006110': 0.46005, 'A035290': 0.44577, 'A010580': 0.41329, 'A002900': 0.40145, 'A009730': 0.40007, 'A277810': 0.38058, 'A108860': 0.37246, 'A003280': 0.36514, 'A042600': 0.34355, 'A095500': 0.34082, 'A222810': 0.34009, 'A234920': 0.33763, 'A007660': 0.33492, 'A121600': 0.33136, 'A029480': 0.32062, 'A281740': 0.31987, 'A005420': 0.30351, 'A317770': 0.30293, 'A336570': 0.29897, 'A085670': 0.2989, 'A178780': 0.29445, 'A106080': 0.28515, 'A182360': 0.27726, 'A003620': 0.27539, 'A096610': 0.27227, 'A005950': 0.24823, 'A006740': 0.2477, 'A007120': 0.24698, 'A035900': 0.24613, 'A064550': 0.24085, 'A001080': 0.23879, 'A214370': 0.23738, 'A011300': 0.22908, 'A173130': 0.22719, 'A003610': 0.22536, 'A093640': 0.22397, 'A035080': 0.22282, 'A145720': 0.21821, 'A058610': 0.21388, 'A335890': 0.21241, 'A093520': 0.20933, 'A041510': 0.20761, 'A052020': 0.20706, 'A138040': 0.20586, 'A010470': 0.20365, 'A150840': 0.20314, 'A066970': 0.20171, 'A036620': 0.20009, 'A018470': 0.19837, 'A053690': 0.19785, 'A095340': 0.19661, 'A113810': 0.19518, 'A317850': 0.18838, 'A109860': 0.18617, 'A079810': 0.18519, 'A012320': 0.18439, 'A003030': 0.18412, 'A004890': 0.18359, 'A078350': 0.18359, 'A101730': 0.18359, 'A270520': 0.18275, 'A024900': 0.18223, 'A060230': 0.17691, 'A011230': 0.17246, 'A074610': 0.17232, 'A038110': 0.1722, 'A083470': 0.17173, 'A095660': 0.1695, 'A208370': 0.16935, 'A005860': 0.1688, 'A036010': 0.16843, 'A267260': 0.1653, 'A009520': 0.16495, 'A317830': 0.16433, 'A010690': 0.16431, 'A025440': 0.16407, 'A048260': 0.16328, 'A073640': 0.16044, 'A007340': 0.15912, 'A011700': 0.15825, 'A214270': 0.15735, 'A137400': 0.15723, 'A373200': 0.15615, 'A012450': 0.15586, 'A108490': 0.15441, 'A053050': 0.15413, 'A003670': 0.15377, 'A214680': 0.15194, 'A085370': 0.15018, 'A064520': 0.14957, 'A033100': 0.14831, 'A101490': 0.14805, 'A179290': 0.14657, 'A006220': 0.14632, 'A117730': 0.14568, 'A200880': 0.14554, 'A024850': 0.14346, 'A090370': 0.14297, 'A357550': 0.14205, 'A033340': 0.1417, 'A058970': 0.14163, 'A032800': 0.14142, 'A001440': 0.1384, 'A122870': 0.13634, 'A051980': 0.13525, 'A090710': 0.13499, 'A064480': 0.13438, 'A032540': 0.13427, 'A094360': 0.13409, 'A225570': 0.1334, 'A028080': 0.12905, 'A078600': 0.12878, 'A094820': 0.12816, 'A064090': 0.12638, 'A190510': 0.12575, 'A033230': 0.12556, 'A134580': 0.12536, 'A065510': 0.12121, 'A118990': 0.12121, 'A033240': 0.12108, 'A064240': 0.12086, 'A351320': 0.11897, 'A001140': 0.11793, 'A054210': 0.11601, 'A214150': 0.11458, 'A263860': 0.11431, 'A003720': 0.11409, 'A037370': 0.11272, 'A060590': 0.11264, 'A272110': 0.11253, 'A008730': 0.1108, 'A353200': 0.11027, 'A066670': 0.10954, 'A010820': 0.10854, 'A015590': 0.10696, 'A028050': 0.1061, 'A287410': 0.10548, 'A088390': 0.10529, 'A013310': 0.10463, 'A219130': 0.1046, 'A005830': 0.10353, 'A318000': 0.10296, 'A079550': 0.10259, 'A012030': 0.10222, 'A032580': 0.1016, 'A011070': 0.10133, 'A023160': 0.10118, 'A103590': 0.10063, 'A105840': 0.10042, 'A138490': 0.10029, 'A093230': 0.09967, 'A101170': 0.09952, 'A086900': 0.09897, 'A079170': 0.09827, 'A101390': 0.09778, 'A027740': 0.09592, 'A355150': 0.09563, 'A195870': 0.0955, 'A249420': 0.09543, 'A010640': 0.0939, 'A056080': 0.09319, 'A246720': 0.0928, 'A206560': 0.09251, 'A122690': 0.09138, 'A030960': 0.09097, 'A263600': 0.09045, 'A290670': 0.09036, 'A083650': 0.08997, 'A091120': 0.08975, 'A016790': 0.08949, 'A009160': 0.08812, 'A322510': 0.08782, 'A300080': 0.08755, 'A006880': 0.08749, 'A019570': 0.08742, 'A332290': 0.08714, 'A171090': 0.08637, 'A047560': 0.08636, 'A004250': 0.08628, 'A119610': 0.08561, 'A054950': 0.08539, 'A004370': 0.08526, 'A189860': 0.08522, 'A009970': 0.08436, 'A015750': 0.08384, 'A115310': 0.08345, 'A217190': 0.08326, 'A126340': 0.08311, 'A263810': 0.08276, 'A071280': 0.08269, 'A047050': 0.08268, 'A161000': 0.08247, 'A140670': 0.08245}
Short these stocks:  {'A232680': -0.07291, 'A026890': -0.07292, 'A195990': -0.07299, 'A265560': -0.07316, 'A086710': -0.074, 'A053160': -0.07438, 'A246690': -0.07497, 'A051160': -0.07519, 'A003850': -0.07542, 'A169330': -0.0757, 'A032860': -0.0762, 'A139670': -0.07628, 'A060240': -0.07641, 'A352940': -0.07655, 'A065660': -0.07663, 'A019770': -0.07675, 'A001880': -0.07688, 'A200470': -0.07702, 'A014190': -0.07746, 'A181710': -0.07774, 'A050960': -0.07799, 'A092190': -0.0783, 'A234100': -0.07844, 'A079970': -0.07884, 'A019170': -0.07893, 'A251270': -0.07893, 'A348150': -0.07904, 'A016250': -0.07916, 'A011200': -0.07918, 'A003060': -0.0793, 'A004960': -0.07932, 'A016380': -0.07935, 'A361390': -0.07941, 'A032500': -0.07947, 'A065150': -0.07951, 'A121800': -0.08017, 'A178320': -0.08041, 'A052400': -0.08083, 'A058110': -0.08111, 'A245620': -0.08126, 'A084990': -0.08133, 'A082210': -0.08141, 'A039560': -0.08192, 'A036570': -0.08266, 'A258830': -0.08294, 'A347860': -0.08304, 'A013890': -0.08317, 'A214330': -0.08334, 'A045520': -0.08349, 'A260970': -0.08352, 'A019660': -0.08377, 'A115180': -0.08401, 'A263720': -0.08416, 'A138080': -0.08429, 'A069460': -0.08456, 'A363260': -0.08461, 'A299900': -0.08474, 'A244460': -0.08488, 'A051900': -0.085, 'A289220': -0.08524, 'A042940': -0.08553, 'A032680': -0.08584, 'A053580': -0.08599, 'A241590': -0.08611, 'A084180': -0.08674, 'A068330': -0.08682, 'A332570': -0.08703, 'A312610': -0.08736, 'A290520': -0.08769, 'A363280': -0.08793, 'A005010': -0.0883, 'A084110': -0.08894, 'A005440': -0.08947, 'A084650': -0.08958, 'A004440': -0.0899, 'A334970': -0.08994, 'A004140': -0.09008, 'A119650': -0.09018, 'A118000': -0.09026, 'A027360': -0.09043, 'A263920': -0.09163, 'A012510': -0.09185, 'A189330': -0.09201, 'A003120': -0.0921, 'A301300': -0.09239, 'A105550': -0.0929, 'A093240': -0.09304, 'A217270': -0.09403, 'A127710': -0.09425, 'A033540': -0.09427, 'A276730': -0.09445, 'A227100': -0.09468, 'A094860': -0.0951, 'A252500': -0.09534, 'A053950': -0.09552, 'A009620': -0.09559, 'A042000': -0.0957, 'A224110': -0.09604, 'A024810': -0.0961, 'A025950': -0.09645, 'A290720': -0.09645, 'A009410': -0.0965, 'A285130': -0.09799, 'A071840': -0.09809, 'A225220': -0.09856, 'A297090': -0.09912, 'A067370': -0.09997, 'A156100': -0.10176, 'A298000': -0.10182, 'A263020': -0.1021, 'A089030': -0.10226, 'A200230': -0.1025, 'A088800': -0.10314, 'A018000': -0.10332, 'A270660': -0.10395, 'A217330': -0.10467, 'A375500': -0.10486, 'A185490': -0.10506, 'A020760': -0.10546, 'A096040': -0.1063, 'A262260': -0.10645, 'A236810': -0.10712, 'A011000': -0.10723, 'A052300': -0.10744, 'A045660': -0.1081, 'A300120': -0.10839, 'A263050': -0.10862, 'A056090': -0.1091, 'A305090': -0.10937, 'A206650': -0.10947, 'A241820': -0.10967, 'A030350': -0.11015, 'A089230': -0.1107, 'A066980': -0.11277, 'A278650': -0.11324, 'A012170': -0.11383, 'A216050': -0.11389, 'A140410': -0.11417, 'A129890': -0.11423, 'A383310': -0.1144, 'A207760': -0.11464, 'A104620': -0.1154, 'A060900': -0.11547, 'A270870': -0.11611, 'A208340': -0.11653, 'A014200': -0.11938, 'A053290': -0.12013, 'A290380': -0.12078, 'A042040': -0.12266, 'A060250': -0.12276, 'A297570': -0.12312, 'A383220': -0.12378, 'A208640': -0.12413, 'A229000': -0.12756, 'A004830': -0.12837, 'A352700': -0.12923, 'A291650': -0.1298, 'A095700': -0.1302, 'A053080': -0.13073, 'A194700': -0.13465, 'A101140': -0.13576, 'A037710': -0.13578, 'A293780': -0.1368, 'A347740': -0.13694, 'A033180': -0.13806, 'A299660': -0.13825, 'A114630': -0.14139, 'A078130': -0.14151, 'A002200': -0.1418, 'A192410': -0.14188, 'A053590': -0.1443, 'A268600': -0.14762, 'A033310': -0.14842, 'A086960': -0.14913, 'A214870': -0.15443, 'A006040': -0.15579, 'A038620': -0.15628, 'A091090': -0.1566, 'A049770': -0.15711, 'A017670': -0.15744, 'A003560': -0.15825, 'A175250': -0.15854, 'A031430': -0.16182, 'A219550': -0.16197, 'A192400': -0.16492, 'A003200': -0.16627, 'A035510': -0.17094, 'A096690': -0.17286, 'A000480': -0.17368, 'A293580': -0.17488, 'A183190': -0.1764, 'A300720': -0.17738, 'A151910': -0.18277, 'A001530': -0.18491, 'A044060': -0.1877, 'A016590': -0.19351, 'A183490': -0.19712, 'A005800': -0.19865, 'A181340': -0.2008, 'A013720': -0.23719}

## Submit

In [54]:
# Create a dictionary with rankings
ranked_weights = {k: rank for rank, k in enumerate(sorted_weights.keys(), 1)}

# Convert to DataFrame
df_ranked = pd.DataFrame(list(ranked_weights.items()),columns = ['종목코드','순위']) 

# Save as csv
df_ranked.to_csv('ranked_weights.csv', index=False)
df_ranked

         종목코드    순위
0     A101670     1
1     A086520     2
2     A073570     3
3     A001570     4
4     A114190     5
...       ...   ...
1995  A016590  1996
1996  A183490  1997
1997  A005800  1998
1998  A181340  1999
1999  A013720  2000

[2000 rows x 2 columns]

In [55]:
sample_submission = pd.read_csv('./sample_submission.csv')
sample_submission

         종목코드    순위
0     A000020     1
1     A000040     2
2     A000050     3
3     A000070     4
4     A000080     5
...       ...   ...
1995  A375500  1996
1996  A378850  1997
1997  A383220  1998
1998  A383310  1999
1999  A383800  2000

[2000 rows x 2 columns]

In [56]:
baseline_submission = sample_submission[['종목코드']].merge(df_ranked[['종목코드', '순위']], on='종목코드', how='left')
baseline_submission

         종목코드    순위
0     A000020   922
1     A000040  1314
2     A000050  1005
3     A000070  1278
4     A000080  1487
...       ...   ...
1995  A375500  1917
1996  A378850   931
1997  A383220  1952
1998  A383310  1940
1999  A383800   955

[2000 rows x 2 columns]

In [57]:
baseline_submission.to_csv('baseline_submission.csv', index=False)