In [1]:
import pandas as pd
import numpy as np
import random
import os
import pickle
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

In [47]:
# Read in price data
train = pd.read_csv("./train.csv", parse_dates=True, index_col="일자")
train = train.reset_index()
train.columns = ['date', 'ticker', 'firm', 'volume', 'open', 'high', 'low', 'close']
df = train.sort_values(by=['ticker', 'date'], ascending=True)

df['adjustTrue'] = 1
df.loc[df['volume'] == 0, 'adjustTrue'] = -1
df = df.sort_values(['ticker','date'], ascending=[True,False])
df = df.reset_index(drop=True)
df.tail()

,date,ticker,firm,volume,open,high,low,close,adjustTrue
987995,2021-06-07,A383800,LX홀딩스,2714980,10550,11150,10500,10800,1
987996,2021-06-04,A383800,LX홀딩스,1737593,10450,10650,10350,10450,1
987997,2021-06-03,A383800,LX홀딩스,2709800,10650,10700,10300,10400,1
987998,2021-06-02,A383800,LX홀딩스,2426922,10700,10850,10600,10700,1
987999,2021-06-01,A383800,LX홀딩스,1879288,11000,11300,10900,11000,1

In [80]:
df[df['adjustTrue'] == -1].head(500)

            date   ticker    firm  volume  open  high  low   close  adjustTrue
11393 2023-04-12  A000480    조선내화       0     0     0    0  100400          -1
11394 2023-04-11  A000480    조선내화       0     0     0    0  100400          -1
11395 2023-04-10  A000480    조선내화       0     0     0    0  100400          -1
11396 2023-04-07  A000480    조선내화       0     0     0    0  100400          -1
11397 2023-04-06  A000480    조선내화       0     0     0    0  100400          -1
...          ...      ...     ...     ...   ...   ...  ...     ...         ...
81328 2022-02-23  A003620  KG모빌리티       0     0     0    0    2770          -1
81329 2022-02-22  A003620  KG모빌리티       0     0     0    0    2770          -1
81330 2022-02-21  A003620  KG모빌리티       0     0     0    0    2770          -1
81331 2022-02-18  A003620  KG모빌리티       0     0     0    0    2770          -1
81332 2022-02-17  A003620  KG모빌리티       0     0     0    0    2770          -1

[500 rows x 9 columns]

In [48]:
# Convert 'date' to datetime and sort the data by date
data = df
data

,date,ticker,firm,volume,open,high,low,close,adjustTrue
0,2023-05-30,A000020,동화약품,201361,9960,10040,9640,9700,1
1,2023-05-26,A000020,동화약품,196257,10050,10150,9850,9850,1
2,2023-05-25,A000020,동화약품,398326,9660,10180,9660,10040,1
3,2023-05-24,A000020,동화약품,205243,9770,9820,9550,9740,1
4,2023-05-23,A000020,동화약품,641524,9160,9900,9160,9770,1
...,...,...,...,...,...,...,...,...,...
987995,2021-06-07,A383800,LX홀딩스,2714980,10550,11150,10500,10800,1
987996,2021-06-04,A383800,LX홀딩스,1737593,10450,10650,10350,10450,1
987997,2021-06-03,A383800,LX홀딩스,2709800,10650,10700,10300,10400,1
987998,2021-06-02,A383800,LX홀딩스,2426922,10700,10850,10600,10700,1
987999,2021-06-01,A383800,LX홀딩스,1879288,11000,11300,10900,11000,1

In [49]:
result = pd.DataFrame()
ticker_list = data['ticker'].unique()

for ticker in tqdm(ticker_list, leave=True):
    temp = data[data['ticker'] == ticker]
    temp = temp.reset_index(drop=True)
    # Find the index where trading was suspended
    suspension_indices = temp[temp['adjustTrue'] == -1].index

    if len(suspension_indices) == 0: # 거래정지가 없는 경우 패스
        result = pd.concat([result, temp], axis=0)
        continue
    else:
        for index in tqdm(suspension_indices, leave=True):
            # Get the split ratio from the close price at the suspension date and the open price at the date following the suspension
            close_price_at_suspension = temp.loc[index, 'close']
            try: # 23-05-30에 거래정지인 경우 + 다른 거래정지도 고려
                open_price_after_suspension = temp.loc[index-1, 'open']  # 미래 데이터
            except: # 하루만 거래정지면 for문 탈출
                continue
            split_ratio = close_price_at_suspension / open_price_after_suspension if open_price_after_suspension != 0 else 1

            # Adjust the volume, open, high, low, and close prices for all previous dates (because the data is in descending order)
            # 거래 정지 이후 값은 액면분할을 반영하여 덮어쓰기
            temp.loc[index+1:, ['open', 'high', 'low', 'close']] /= split_ratio
            temp.loc[index+1:, 'volume'] *= split_ratio

        # Sort the data in ascending order of date
        # 다시 과거-현재 순으로 재정렬
        temp = temp.sort_values('date', ascending=True)

        # Interpolate zero values in the data using 'pad' method
        # 아직도 0이 남았다 == 거래 정지일이 끝 날짜에 하루밖에 없었다
        # 과거, 미래 값으로 채우기
        temp.replace(0, pd.NA, inplace=True)
        temp.interpolate(method='ffill', inplace=True)
        temp.interpolate(method='bfill', inplace=True)

        result = pd.concat([result, temp], axis=0)

100%|██████████| 5/5 [00:00<00:00, 768.61it/s]/s]
100%|██████████| 14/14 [00:00<00:00, 998.92it/s]]
100%|██████████| 1/1 [00:00<?, ?it/s], 33.90it/s]
100%|██████████| 17/17 [00:00<00:00, 1096.70it/s]
100%|██████████| 3/3 [00:00<00:00, 854.24it/s]/s]
100%|██████████| 5/5 [00:00<00:00, 908.72it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 1000.79it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 665.66it/s]t/s]
100%|██████████| 15/15 [00:00<00:00, 936.76it/s]s]
100%|██████████| 21/21 [00:00<00:00, 1052.67it/s]]
100%|██████████| 3/3 [00:00<00:00, 665.76it/s]t/s]
100%|██████████| 6/6 [00:00<00:00, 922.26it/s]
100%|██████████| 75/75 [00:00<00:00, 1060.47it/s]]
100%|██████████| 36/36 [00:00<00:00, 1074.01it/s]]
100%|██████████| 474/474 [00:00<00:00, 1060.73it/s]
100%|██████████| 1/1 [00:00<00:00, 498.08it/s]t/s]
100%|██████████| 8/8 [00:00<00:00, 1065.96it/s]/s]
100%|██████████| 13/13 [00:00<00:00, 999.01it/s]s]
100%|██████████| 29/29 [00:00<00:00, 1073.49it/s]]
100%|██████████| 5/5 [00:00<00:00, 833.33it/s]t/s]
100%|██████████| 2/2 [00:00<00:00, 665.87it/s]t/s]
100%|██████████| 21/21 [00:00<00:00, 1049.39it/s]]
100%|██████████| 4/4 [00:00<00:00, 799.71it/s]t/s]
100%|██████████| 494/494 [00:00<00:00, 1078.21it/s]
100%|██████████| 15/15 [00:00<00:00, 1070.58it/s]]
100%|██████████| 15/15 [00:00<00:00, 999.44it/s]s]
100%|██████████| 296/296 [00:00<00:00, 1068.17it/s]
100%|██████████| 1/1 [00:00<00:00, 487.77it/s]t/s]
100%|██████████| 360/360 [00:00<00:00, 1066.44it/s]
100%|██████████| 23/23 [00:00<00:00, 1021.35it/s]]
100%|██████████| 20/20 [00:00<00:00, 1052.02it/s]]
100%|██████████| 12/12 [00:00<00:00, 959.48it/s]s]
100%|██████████| 316/316 [00:00<00:00, 1063.01it/s]
100%|██████████| 1/1 [00:00<00:00, 499.98it/s]t/s]
100%|██████████| 215/215 [00:00<00:00, 1016.38it/s]
100%|██████████| 257/257 [00:00<00:00, 1068.43it/s]
100%|██████████| 121/121 [00:00<00:00, 1093.43it/s]
100%|██████████| 494/494 [00:00<00:00, 1064.33it/s]
100%|██████████| 37/37 [00:00<00:00, 1087.00it/s]]
100%|██████████| 74/74 [00:00<00:00, 1088.97it/s]]
100%|██████████| 21/21 [00:00<00:00, 999.40it/s]s]
100%|██████████| 1/1 [00:00<00:00, 499.86it/s]t/s]
100%|██████████| 11/11 [00:00<00:00, 956.06it/s]s]
100%|██████████| 494/494 [00:00<00:00, 1083.64it/s]
100%|██████████| 3/3 [00:00<00:00, 709.98it/s]t/s]
100%|██████████| 13/13 [00:00<00:00, 1039.52it/s]]
100%|██████████| 24/24 [00:00<00:00, 1090.41it/s]]
100%|██████████| 30/30 [00:00<00:00, 1061.04it/s]]
100%|██████████| 14/14 [00:00<00:00, 965.10it/s]s]
100%|██████████| 33/33 [00:00<00:00, 1046.84it/s]]
100%|██████████| 385/385 [00:00<00:00, 1078.79it/s]
100%|██████████| 13/13 [00:00<00:00, 1072.16it/s]]
100%|██████████| 385/385 [00:00<00:00, 1056.50it/s]
100%|██████████| 1/1 [00:00<00:00, 500.51it/s]t/s]
100%|██████████| 19/19 [00:00<00:00, 1054.82it/s]]
100%|██████████| 12/12 [00:00<00:00, 998.86it/s]s]
100%|██████████| 44/44 [00:00<00:00, 1098.65it/s]]
100%|██████████| 3/3 [00:00<00:00, 665.73it/s]t/s]
100%|██████████| 12/12 [00:00<00:00, 1042.97it/s]]
100%|██████████| 346/346 [00:00<00:00, 1079.64it/s]
100%|██████████| 14/14 [00:00<00:00, 1119.48it/s]]
100%|██████████| 297/297 [00:00<00:00, 1072.08it/s]
100%|██████████| 15/15 [00:00<00:00, 1034.03it/s]]
100%|██████████| 36/36 [00:00<00:00, 1077.74it/s]]
100%|██████████| 2/2 [00:00<00:00, 666.71it/s]t/s]
100%|██████████| 494/494 [00:00<00:00, 1076.14it/s]
100%|██████████| 14/14 [00:00<00:00, 990.31it/s]s]
100%|██████████| 223/223 [00:00<00:00, 1056.34it/s]
100%|██████████| 27/27 [00:00<00:00, 1047.82it/s]
100%|██████████| 3/3 [00:00<00:00, 750.14it/s]t/s]
100%|██████████| 22/22 [00:00<00:00, 976.14it/s]s]
100%|██████████| 3/3 [00:00<00:00, 750.10it/s]t/s]
100%|██████████| 50/50 [00:00<00:00, 1098.18it/s]]
100%|██████████| 1/1 [00:00<00:00, 1000.79it/s]/s]
100%|██████████| 27/27 [00:00<00:00, 1022.50it/s]]
100%|██████████| 3/3 [00:00<00:00, 750.10it/s]
100%|██████████| 243/243 [00:00<00:00, 1063.24it/s]
100%|██████████| 21/21 [00:00<00:00, 1133.96it/s]]
100%|██████████| 224/224 [00:00<00:00, 1007.21it/s]
100%|██████████| 16/16 [00:00<00:00, 1031.62it/s]]
100%|██████████| 93/93 [00:00<00:00, 1058.91it/s]]
100%|██████████| 4/4 [00:00<00:00, 726.44it/s]t/s]
100%|██████████| 16/16 [00:00<00:00, 1031.86it/s]]
100%|██████████| 3/3 [00:00<00:00, 749.43it/s]
100%|██████████| 129/129 [00:00<00:00, 1102.13it/s]
100%|██████████| 73/73 [00:00<00:00, 1073.36it/s]]
100%|██████████| 69/69 [00:00<00:00, 1094.32it/s]]
100%|██████████| 20/20 [00:00<00:00, 1051.93it/s]
100%|██████████| 15/15 [00:00<00:00, 1034.05it/s]]
100%|██████████| 117/117 [00:00<00:00, 1043.93it/s]
100%|██████████| 453/453 [00:00<00:00, 1056.77it/s]
100%|██████████| 295/295 [00:00<00:00, 837.68it/s]
100%|██████████| 16/16 [00:00<00:00, 969.29it/s]s]
100%|██████████| 12/12 [00:00<00:00, 1043.06it/s]]
100%|██████████| 50/50 [00:00<00:00, 876.65it/s]s]
100%|██████████| 17/17 [00:00<00:00, 1096.43it/s]]
100%|██████████| 297/297 [00:00<00:00, 1039.75it/s]
100%|██████████| 494/494 [00:00<00:00, 1063.63it/s]
100%|██████████| 1/1 [00:00<00:00, 498.61it/s]it/s]
100%|██████████| 59/59 [00:00<00:00, 1060.77it/s]s]
100%|██████████| 110/110 [00:00<00:00, 1082.95it/s]
100%|██████████| 494/494 [00:00<00:00, 1052.66it/s]
100%|██████████| 76/76 [00:00<00:00, 1061.44it/s]s]
100%|██████████| 1/1 [00:00<00:00, 664.71it/s]it/s]
100%|██████████| 17/17 [00:00<00:00, 1027.17it/s]s]
100%|██████████| 53/53 [00:00<00:00, 1047.88it/s]s]
100%|██████████| 494/494 [00:00<00:00, 1054.15it/s]
100%|██████████| 28/28 [00:00<00:00, 1060.56it/s]s]
100%|██████████| 356/356 [00:00<00:00, 1035.28it/s]
100%|██████████| 15/15 [00:00<00:00, 984.78it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 995.11it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 935.99it/s]/s]
100%|██████████| 10/10 [00:00<00:00, 950.87it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 1033.95it/s]s]
100%|██████████| 35/35 [00:00<00:00, 1012.95it/s]s]
100%|██████████| 27/27 [00:00<00:00, 1055.29it/s]s]
100%|██████████| 11/11 [00:00<00:00, 1046.08it/s]s]
100%|██████████| 2/2 [00:00<00:00, 664.29it/s]it/s]
100%|██████████| 300/300 [00:00<00:00, 1060.86it/s]
100%|██████████| 145/145 [00:00<00:00, 1105.67it/s]
100%|██████████| 494/494 [00:00<00:00, 1044.77it/s]
100%|██████████| 39/39 [00:00<00:00, 1051.81it/s]s]
100%|██████████| 15/15 [00:00<00:00, 997.79it/s]/s]
100%|██████████| 2/2 [00:00<00:00, 658.45it/s]it/s]
100%|██████████| 4/4 [00:00<00:00, 800.21it/s]
100%|██████████| 451/451 [00:00<00:00, 1035.17it/s]
100%|██████████| 494/494 [00:00<00:00, 1049.79it/s]
100%|██████████| 14/14 [00:00<00:00, 998.08it/s]/s]
100%|██████████| 243/243 [00:00<00:00, 1061.31it/s]
100%|██████████| 28/28 [00:00<00:00, 1054.83it/s]s]
100%|██████████| 334/334 [00:00<00:00, 1039.26it/s]
100%|██████████| 15/15 [00:00<00:00, 973.71it/s]/s]
100%|██████████| 39/39 [00:00<00:00, 1052.34it/s]s]
100%|██████████| 1/1 [00:00<00:00, 500.04it/s]
100%|██████████| 14/14 [00:00<00:00, 1022.20it/s]s]
100%|██████████| 2/2 [00:00<00:00, 666.77it/s]it/s]
100%|██████████| 14/14 [00:00<00:00, 998.98it/s]/s]
100%|██████████| 18/18 [00:00<00:00, 998.41it/s]/s]
100%|██████████| 295/295 [00:00<00:00, 1047.57it/s]
100%|██████████| 15/15 [00:00<00:00, 1032.69it/s]s]
100%|██████████| 1/1 [00:00<00:00, 417.55it/s]it/s]
100%|██████████| 317/317 [00:00<00:00, 1051.60it/s]
100%|██████████| 209/209 [00:00<00:00, 1084.77it/s]
100%|██████████| 494/494 [00:00<00:00, 1042.00it/s]
100%|██████████| 68/68 [00:00<00:00, 1061.11it/s]s]
100%|██████████| 17/17 [00:00<00:00, 966.32it/s]/s]
100%|██████████| 494/494 [00:00<00:00, 1035.04it/s]
100%|██████████| 451/451 [00:00<00:00, 1055.96it/s]
100%|██████████| 295/295 [00:00<00:00, 1058.25it/s]
100%|██████████| 14/14 [00:00<00:00, 932.35it/s]/s]
100%|██████████| 3/3 [00:00<00:00, 750.01it/s]it/s]
100%|██████████| 3/3 [00:00<00:00, 731.10it/s]it/s]
100%|██████████| 16/16 [00:00<00:00, 985.16it/s]
100%|██████████| 4/4 [00:00<00:00, 726.44it/s]it/s]
100%|██████████| 18/18 [00:00<00:00, 905.15it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 500.04it/s]it/s]
100%|██████████| 2/2 [00:00<00:00, 665.87it/s]it/s]
100%|██████████| 19/19 [00:00<00:00, 823.07it/s]/s]
100%|██████████| 67/67 [00:00<00:00, 899.25it/s]/s]
100%|██████████| 323/323 [00:00<00:00, 1004.07it/s]
100%|██████████| 337/337 [00:00<00:00, 968.96it/s]]
100%|██████████| 16/16 [00:00<00:00, 912.82it/s]/s]
100%|██████████| 15/15 [00:00<00:00, 988.69it/s]/s]
100%|██████████| 494/494 [00:00<00:00, 983.57it/s]]
100%|██████████| 294/294 [00:00<00:00, 1009.58it/s]
100%|██████████| 1/1 [00:00<00:00, 500.16it/s]it/s]
100%|██████████| 2/2 [00:00<00:00, 662.03it/s]it/s]
100%|██████████| 34/34 [00:00<00:00, 904.70it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 333.36it/s]it/s]
100%|██████████| 494/494 [00:00<00:00, 994.18it/s]]
100%|██████████| 10/10 [00:00<00:00, 868.75it/s]/s]
100%|██████████| 9/9 [00:00<00:00, 946.61it/s]it/s]
100%|██████████| 494/494 [00:00<00:00, 966.26it/s]]
100%|██████████| 335/335 [00:00<00:00, 985.03it/s]]
100%|██████████| 33/33 [00:00<00:00, 915.05it/s]/s]
100%|██████████| 45/45 [00:00<00:00, 975.63it/s]/s]
100%|██████████| 295/295 [00:00<00:00, 1003.65it/s]
100%|██████████| 1/1 [00:00<00:00, 500.16it/s]it/s]
100%|██████████| 12/12 [00:00<00:00, 888.12it/s]/s]
100%|██████████| 21/21 [00:00<00:00, 1049.28it/s]s]
100%|██████████| 1/1 [00:00<00:00, 497.96it/s]it/s]
100%|██████████| 13/13 [00:00<00:00, 961.72it/s]/s]
100%|██████████| 1/1 [00:00<00:00, 332.83it/s]it/s]
100%|██████████| 46/46 [00:00<00:00, 1056.63it/s]s]
100%|██████████| 3/3 [00:00<00:00, 750.68it/s]it/s]
100%|██████████| 1/1 [00:00<00:00, 498.25it/s]it/s]
100%|██████████| 48/48 [00:00<00:00, 1019.46it/s]s]
100%|██████████| 290/290 [00:00<00:00, 1059.46it/s]
100%|██████████| 30/30 [00:00<00:00, 979.63it/s]/s]
100%|██████████| 50/50 [00:00<00:00, 1058.79it/s]s]
100%|██████████| 64/64 [00:00<00:00, 1069.73it/s]s]
100%|██████████| 86/86 [00:00<00:00, 1130.70it/s]s]
100%|██████████| 42/42 [00:00<00:00, 1058.84it/s]s]
100%|██████████| 114/114 [00:00<00:00, 1062.01it/s]
100%|██████████| 48/48 [00:00<00:00, 1088.32it/s]s]
100%|██████████| 48/48 [00:00<00:00, 997.77it/s]/s]
100%|██████████| 77/77 [00:00<00:00, 1062.52it/s]s]
100%|██████████| 65/65 [00:00<00:00, 1090.82it/s]s]
100%|██████████| 1/1 [00:00<00:00, 499.56it/s]it/s]
100%|██████████| 101/101 [00:00<00:00, 1078.85it/s]
100%|██████████| 69/69 [00:00<00:00, 1107.52it/s]s]
100%|██████████| 57/57 [00:00<00:00, 1091.83it/s]s]
100%|██████████| 59/59 [00:00<00:00, 1073.29it/s]
100%|██████████| 51/51 [00:00<00:00, 1115.64it/s]s]
100%|██████████| 3/3 [00:00<00:00, 750.05it/s]it/s]
100%|██████████| 2000/2000 [01:39<00:00, 20.00it/s]

In [87]:
data

,date,ticker,firm,volume,open,high,low,close,adjustTrue
0,2023-05-30,A000020,동화약품,201361,9960,10040,9640,9700,1
1,2023-05-26,A000020,동화약품,196257,10050,10150,9850,9850,1
2,2023-05-25,A000020,동화약품,398326,9660,10180,9660,10040,1
3,2023-05-24,A000020,동화약품,205243,9770,9820,9550,9740,1
4,2023-05-23,A000020,동화약품,641524,9160,9900,9160,9770,1
...,...,...,...,...,...,...,...,...,...
987995,2021-06-07,A383800,LX홀딩스,2714980,10550,11150,10500,10800,1
987996,2021-06-04,A383800,LX홀딩스,1737593,10450,10650,10350,10450,1
987997,2021-06-03,A383800,LX홀딩스,2709800,10650,10700,10300,10400,1
987998,2021-06-02,A383800,LX홀딩스,2426922,10700,10850,10600,10700,1
987999,2021-06-01,A383800,LX홀딩스,1879288,11000,11300,10900,11000,1

In [98]:
result = pd.DataFrame()
ticker_list = ['A001530']

for ticker in tqdm(ticker_list, leave=True):
    temp = data[data['ticker'] == ticker]
    temp = temp.reset_index(drop=True)
    # Find the index where trading was suspended
    suspension_indices = temp[temp['adjustTrue'] == -1].index

    if len(suspension_indices) == 0: # 거래정지가 없는 경우 패스
        result = pd.concat([result, temp], axis=0)
        continue
    else:
        for index in tqdm(suspension_indices, leave=True):
            # Get the split ratio from the close price at the suspension date and the open price at the date following the suspension
            close_price_at_suspension = temp.loc[index, 'close']
            try: # 23-05-30에 거래정지인 경우 + 다른 거래정지도 고려
                open_price_after_suspension = temp.loc[index-1, 'open']  # 미래 데이터
            except: # 하루만 거래정지면 for문 탈출
                continue
            split_ratio = close_price_at_suspension / open_price_after_suspension if open_price_after_suspension != 0 else 1
            # Adjust the volume, open, high, low, and close prices for all previous dates (because the data is in descending order)
            # 거래 정지 이후 값은 액면분할을 반영하여 덮어쓰기
            temp.loc[index+1:, ['open', 'high', 'low', 'close']] /= split_ratio
            temp.loc[index+1:, 'volume'] *= split_ratio

        # Sort the data in ascending order of date
        # 다시 과거-현재 순으로 재정렬
        temp = temp.sort_values('date', ascending=True)

        # Interpolate zero values in the data using 'pad' method
        # 아직도 0이 남았다 == 거래 정지일이 끝 날짜에 하루밖에 없었다
        # 과거, 미래 값으로 채우기
        temp.replace(0, pd.NA, inplace=True)
        temp.interpolate(method='ffill', inplace=True)
        temp.interpolate(method='bfill', inplace=True)

        result = pd.concat([result, temp], axis=0)

100%|██████████| 3/3 [00:00<00:00, 271.58it/s]
100%|██████████| 1/1 [00:00<00:00, 21.87it/s]

In [99]:
result

,date,ticker,firm,volume,open,high,low,close,adjustTrue
493,2021-06-01,A001530,DI동일,120150.907441,17430.579965,17914.762742,17285.325132,17624.253076,1
492,2021-06-02,A001530,DI동일,288093.684211,17672.671353,18641.036907,17672.671353,18253.690685,1
491,2021-06-03,A001530,DI동일,183587.695100,18253.690685,18495.782074,17963.181019,18398.945518,1
490,2021-06-04,A001530,DI동일,64407.495463,18398.945518,18398.945518,18108.435852,18302.108963,1
489,2021-06-07,A001530,DI동일,80114.373866,18302.108963,18302.108963,17914.762742,18205.272408,1
...,...,...,...,...,...,...,...,...,...
4,2023-05-23,A001530,DI동일,147745.000000,20450.000000,21100.000000,20200.000000,20600.000000,1
3,2023-05-24,A001530,DI동일,71790.000000,20650.000000,21000.000000,20500.000000,20800.000000,1
2,2023-05-25,A001530,DI동일,77340.000000,20800.000000,20800.000000,20050.000000,20250.000000,1
1,2023-05-26,A001530,DI동일,71356.000000,20250.000000,20300.000000,19800.000000,20000.000000,1
0,2023-05-30,A001530,DI동일,128982.000000,20100.000000,20400.000000,19840.000000,20400.000000,1

In [71]:
test3 = result[result.isna( ).any(axis=1)]

In [81]:
result2 = result[:82000]